<div id="vanilla-comments" class="inner"></div>
<script type="text/javascript">
    /*** Required Settings: Edit BEFORE pasting into your web page ***/
    // The full http url & path to your vanilla forum
    var vanilla_forum_url = 'http://wildgeese.org.au/vanilla';
    // Your unique identifier for the content being commented on 
    var vanilla_identifier = '{{title}}';

    /*** Optional Settings: Ignore if you like ***/
    // Attach this page of comments to a specific Vanilla DiscussionID.
    // var vanilla_discussion_id = '5';
    // Create this discussion in a specific Vanilla CategoryID.
    var vanilla_category_id = '2';

    /*** DON'T EDIT BELOW THIS LINE ***/

    (function() { 
	var vanilla = document.createElement('script');
	vanilla.type = 'text/javascript';
        var timestamp = new Date().getTime();
	vanilla.src = vanilla_forum_url + '/js/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(vanilla);
    })();
</script>
<noscript>
    Please enable JavaScript to view page comments.</a>
</noscript>
